.dotfiles

# VIM
.vim/bundle/*
.vim/.netrwhist
.vim/viminfo

# VS Code
workspaceStorage
extensions

# Temp files
*.bak
*.tmp

# Unimportant config files
.config/*
!.config/karabiner
!.config/neomutt
!.config/nvim
