.dotfiles

# Private ENV variables
.profile

# VIM
.vim/bundle/*
.vim/.netrwhist
.vim/viminfo
.config/nvim/viminfo

# Mutt & OfflineIMAP
.config/neomutt/mailboxes

# VS Code
workspaceStorage
extensions

# Temp files
*.bak
*.tmp
*.pyc
