# CHI work project

name: triebwerk
root: ~/code/triebwerk/

startup_window: editor

windows:
  - editor:
      layout: main-vertical
      panes:
        - vim
        -
  - server:
      layout: main-horizontal
      panes:
        - bin/devserver
        -
  - logs: tail -f log/development.log
